<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>



<div> user <b> {{name}} </b> not found, please check username and password  </div>
<a href="/login">go to page <b> login </b> </a>
<hr>
<div>user  <b> {{name}} </b> not found, please register </div>
<a href="/registration">go to page <b>registration</b>  </a>

</body>
</html>